.main-wrapper {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  background-color: white;
  width: 250px;
}

section.search-field-wrapper {
  font-size: 16px;
  font-family: inherit;
  padding-right: 16px;
  display: flex;
  border-bottom: none;
}

input.search-field-input {
  font-size: inherit;
}
