.main-wrapper {
  background-color: white;
  width: 250px;
}

section.search-field-wrapper {
  font-size: 16px;
  padding-right: 16px;
  display: flex;
  border-bottom: none;
}

input.search-field-input {
  font-size: inherit;
}
