.main-wrapper {
  background-color: white;
  width: 250px;
}

section.search-field-wrapper {
  font-size: 16px;
  font-family: inherit;
  padding-right: 16px;
  display: flex;
  border-bottom: none;
}

input.search-field-input {
  font-size: inherit;
}

.name-format {
  text-transform: capitalize;
}

.emoji {
  color: rgba(0, 0, 0, 1);
  font-size: 1.5rem;
}
